.current {
  color: red;
}

.horizontal {
  background-color: black;
}

* {
	font-size: 1rem;
	font-family: Inter;
	font-weight: 700;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  // margin-left: 10px;
  // margin-right: 20px;
  padding: 0;
  margin: 0;
}

scale slider {
  all: unset;
  opacity: 0;
} 
